@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Sofia+Sans+Condensed&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #000;
}

main {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1250px;
}


.left-sidebar { 
    height: 100vh;
    display: fixed;   
    position: relative;
    border-right: 1px solid #2F3336;
}

.left-sidebar .logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.left-sidebar .logo:hover {
    background: rgba(223, 223, 223, 0.1);
    
}

.left-sidebar .logo img {
    width: 26px;
}

/*-----------items del slide----------*/

.sidebar-content {
    text-decoration: none;
}

.sidebar-content img {
    height: 26.25px;
    margin-right: 20px;
}

.slide-items {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
}

.slide-items .item {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

.slide-items .item:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

.tweet-button {
    background-color: #1D9BF0;
    color: white;
    border: 0px solid #fff;
    border-radius: 100px;
    padding: 0 100px;
    font-size: 17px;
    margin: 9px 0;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-weight: bold;
    transition: background-color 0.3s
}

.tweet-button span {
    position: relative;
    text-align: center;
    right: 15px;
}

.tweet-button:hover {
    background-color: #198dda ;
}

/*=============================*/


.account {
    position: absolute;
    bottom: 1dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px 12px 12px 12px;
}

.account:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

.account .acc-logo img {
    width: 40px;
    border-radius: 100%;
}

.account .acc-text {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.account .acc-text span {
    color: #fff;
    font-weight: bold;
}

.account .acc-points {
    margin-left: 50px;
}

.account .acc-points img {
    width: 20px;
}

/*----Inicio Contenido Principal----*/

.content-main {
    display: flex;
    color: white;
    border-right: 1px solid #2F3336;
}

.header-top p {
    font-size: 20px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.header-down {
    display: flex;
    position: relative;
}

.para-ti a {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: all 100ms ease;
}

.para-ti:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.siguiendo a {
    display: flex;
    width: 324px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #71767b;
    transition: all 100ms ease;
}

.siguiendo:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.post {
    display: flex;
    position: absolute;
    top: 110px;
    width: 625px;
    height: 140px;
    border-top: 1px solid rgba(223, 223, 223, 0.1);
    border-bottom: 1px solid rgba(223, 223, 223, 0.1);
}

.post img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.post input {
    left: 70px;
    display: flex;
    position: absolute;
    width: 550px;
    height: 50px;
    border: none;
    top: 10px;
    background-color: transparent;
    font-size: 20px;
}

input:focus {
    outline: none;
    color: white;
}

.logos {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 20px;
    gap: 20px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra inicial */
    transition: box-shadow 0.3s;
}

.logos svg:hover {
    box-shadow: 0px 0px 10px rgba(29, 155, 240, 0.7);
}

.btn-postear {
    display: flex;
    position: relative;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 230px;
    background-color: #198dda;
    border: none;
    color: white;
    transition: all 2ms ease;
    cursor: pointer;
}

.btn-postear:hover {
    background-color: #0b6bac;
}