body {
    background-color: rgb(36, 45, 52);
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.login_caja {
    background-color: black;
    padding: 0px 0px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
}
.login_superior {
    height: 100%;
    display: flex;
    padding: 5px;
}
.boton_circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
}
.boton_circular:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.imagen {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_texto_01 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 70%;
    padding: 20px 0px 0px 70px;
}
.login_texto_01 h1 {
    padding: 0px;
    margin: 10px 5px 0px 5px;
}
.login_texto_02 {
    display: flex;
    color: rgb(80, 80, 80);
    justify-content: center;
    align-items: center;
}
.login_texto_02 p {
    width: 74%;
    text-align: left;
}
.login_caja_de_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 100px;
}
.caja_de_texto {
    width: 79%;
    height: 50px;
    text-align: left;
    background: black;
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}
.login_botones {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    align-items: center;
}
.boton_siguiente {
    width: 75%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}
.boton_siguiente:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}